<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>DataEntity Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group ">
                        <label for="Index">Index</label>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name *</label>
                        <input type="text" class="form-control" id="Name" [(ngModel)]="item.Name" name="Name" #Name="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group ">
                        <label for="Nullable">Nullable *</label>
                        <input type="checkbox" [(ngModel)]="item.Nullable" name="Nullable" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20">Relations</h2>

                    <label for="DataType">DataType</label>
                    <select name="DataType" id="DataType" [(ngModel)]="item.DataType" class="form-control" #DataType="ngModel"  >
                        <option *ngFor="let item of listDataType" [value]="item._id">{{item._id}}</option>
                    </select>
                    <div class="pb-30">
                        <div class="mb-20">
                            <label>ValidationRule</label>

                            <span class="dropdown ml-20">
                                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonValidationRule" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonValidationRule">
                                    <button class="dropdown-item" *ngFor="let item of listValidationRule" [class.disabled]="containValidationRule(item._id)" (click)="$event.preventDefault(); containValidationRule(item._id) || addValidationRule(item._id)">{{item._id}}
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="mb-40">
                            <ul class="list-group">
                                <li class="list-group-item" *ngIf="!item.validationrule || item.validationrule.length == 0">No item found</li>
                                <li class="list-group-item" *ngFor="let obj of item.validationrule; let i = index">
                                    {{obj}}

                                    <button class="btn btn-danger pull-right" type="button" (click)="removeValidationRule(i)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h2 *ngIf="externalDataObject_DataEntity[0]">External Relations</h2>
        
                        <h3 *ngIf="externalDataObject_DataEntity[0]">DataObject</h3>
                        <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of externalDataObject_DataEntity">{{item._id}}</li>
                        </ul>

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>